[submodule "brainTankController"]
	path = brainTankController
	url = https://github.com/EntwicklerOOWV/brainTankController.git
[submodule "brainTankApp"]
	path = brainTankApp
	url = https://github.com/EntwicklerOOWV/brainTankApp.git
